.container {
    display: flex;
    justify-content: center;
    align-items: center;  
    flex-direction: column;
}
/*baca*/
.chimney {
    position: absolute;
    display: flex;
    justify-content: center;
    margin-bottom: 370px;   
}
.chimney_up {
    height: 10px;
    width: 38px;
    background-color: rgb(177, 144, 144);
    position: absolute;
    margin-left: 270px;
}
.chimney_down {
    height: 60px;
    width: 30px;
    background-color: grey; 
    margin-left: 270px;
}
/*çatı*/
.roof {
    border-color: transparent transparent rgb(148, 26, 26) transparent;
    border-style: solid;
    border-width: 0px 350px 250px 350px;
    width: 0;
    height: 0;
    margin-top: 50px;
}
/*evin gödesi*/
.house {
    background-color: #FA8072;
    height: 330px;
    width: 700px;
    display: flex;
    justify-content: center;
}
/*pencereler*/
.window {
    top: 300px;
    width: 700px;
    margin: 0px 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.window1 {
    height: 81px;
    width: 81px;
    background-color: white;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}
/*korkuluklar*/
.box {
    height: 25px;
    width: 25px;
    background-color: white;
    border: solid 1px black;
    position: relative;
}
/*kapı*/
.door {
    height: 160px;
    width: 100px;
    position: absolute;
    display: flex;
    align-self: flex-end; 
    background-color: rgb(148, 26, 26);
    border-top: 5px solid rgb(105, 27, 27);
    border-right: 5px solid rgb(105, 27, 27);
    border-left: 5px solid rgb(105, 27, 27);
    border-bottom: 5px solid #000;
}
/*kapı kolu*/
.dooropener{
    position: relative;
    width: 10px;
    height: 10px;
    background-color: #000;
    border-radius: 50%;
    margin-left: 20px;
    align-self: center;   
}